{% extends '::base.html.twig' %}
{% block Corps %}
    <h1>{{'Oops! An error has occured'|trans}}</h1>
    <h2>{{'The server has returned'|trans}}"{{ status_code }} {{ status_text }}".</h2>
{% endblock %}