{% extends '::base.html.twig' %}
{% block Corps %}
    <h1>{{'The page you are trying to go to does not exist'|trans}}</h1>
    <h2>{{'The server has returned'|trans}}"{{ status_code }} {{ status_text }}".</h2>
{% endblock %}
