{% extends 'MEMORAeTextBundle::layout.html.twig' %}

{%if home is defined %}
{% block InfoSection %} 
    
        
            {% for contenu in home %} 
                <p>
                   {{contenu.content }}
                   </p>
            {% endfor %} 
        
 {% endblock %}
 {% block VideoSection %} 
     
           <div>
		  <h2>Presentation</h2>
		  EMPLACEMENT DE VIDEO
             </div>
    
 {% endblock %}
 {%endif %}
 
  {% block QMemorae %} 
      {%if qMemorae is defined %}
                 {% for contenu in qMemorae %} 
                   {{contenu.content }}
                   {% endfor %} 
        {%endif %}
   {% endblock %}
      
   
   {% block Document %}
       onglet document
   {% endblock %}
   {% block Video %}
       onglet Video
   {% endblock %}
    

{% block Rd %}
    onglet R&D
   {% endblock %}