{% extends 'MEMORAeTextBundle::index.html.twig' %}
 
{% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/recherche.js')}}"></script>
  {% endblock %}
      {% block Recherche %}
       {#  <div class="row">

            <div class="col-lg-11  blockProjet">
            <div class="col-xs-2 pull-left blockImage" >Emplacement de l'image</div>
            <aside class="col-xs-9 blockContenu">
              contenu textuel detaillant le livre 
            </aside>
            
          </div>
         </div>#}
	<div class="row">
				  <div class="col-xs-12 col-sm-12 col-md-12 ">
				    <div class="thumbnail blockImageTexte">
				     <img src="../images/dance1.jpg" class=" pull-left img-rounded"
				         alt="Generic placeholder thumbnail">
				      <div class="caption">
				        <h4>titre 1</h4>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>     
				      </div>
				    </div>
                                      <div class="thumbnail blockImageTexte">
				     <img src="../images/dance1.jpg" class=" pull-left img-rounded"
				         alt="Generic placeholder thumbnail">
				      <div class="caption">
				        <h4>Titre 2</h4>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>     
				      </div>
				    </div>	
                                      <div class="thumbnail blockImageTexte">
				     <img src="../images/dance2.jpg" class=" pull-left img-rounded"
				         alt="Generic placeholder thumbnail">
				      <div class="caption">
				        <h4>Titre 3</h4>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>     
				      </div>
				    </div>	
                                      <div class="thumbnail blockImageTexte">
				     <img src="../images/dance7.jpg" class=" pull-left img-rounded"
				         alt="Generic placeholder thumbnail">
				      <div class="caption">
				        <h4>titre 4</h4>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>     
				      </div>
				    </div>	
                                  </div>   
            </div> 
      
      
      
      
      {% endblock %}
