{% extends 'MEMORAeTextBundle::index.html.twig' %}
 {% block javascripts %}
     {{ parent()}}
     <script src="{{asset('JavaScript/these.js')}}"></script>
  {% endblock %}
 {% block These %}
          <div >je suis dans these </div>
      
      
      
      
      {% endblock %}