.pageBlock{
    width:90%;
    margin-left:5%;
}
.pageBlock .panel-heading{
   width: 100%;
   height:50px;
    
    
    
}
.pageBlock h1{
    font-family:"lucida calligraphy";
    font-style:italic;
    font-size:1.5em;
    font-weight: bold;
    color:blue;
    display:inline-block;
    float:left;
    
}
table .cle{
    display:none;
}
#ligneCourante{
    
    background-color:  #E7E7E7;
    
}
tbody tr{
    cursor:pointer;
}

#infoError{
    width:90%;
    margin-left:5%;
}