{%for media in section.medias%}
    <tr>    
        {%include 'MEMORAeTextBundle:Admin:printMedia.html.twig' with{'media':media} %}
        <td>{{section.name}}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('media_edit', { 'id': media.id }) }}">{{'edit'|trans}}</a>
                </li>
            </ul>
        </td> 
    </tr>
{%endfor%}