{% extends '::base.html.twig' %}

{% block body %}
    <div  id="acceuil" class="tab-pane active ">
         {% block Home %}
         <div class="panel-body infoSection  col-sm-7">
            {% block infoSection %}{% endblock %}
            </div>
            <section class="col-sm-4 videoSection">
            {% block videoSection %}{% endblock %}
             </section>
          {% endblock %}
    </div>
       <div role="tabpanel" class="tab-pane" id="QMemorae">
            {% block QMemorae %}{% endblock %}
           	 
        </div>
        <div role="tabpanel" class="tab-pane" id="document">

           {% block document %}{% endblock %}
        </div>
        <div role="tabpanel" class="tab-pane" id="video">
             {% block video %}{% endblock %}
         
        </div>
        <div role="tabpanel" class="tab-pane" id="rd">
             {% block rd %}{% endblock %}
           
        </div>
    
{% endblock %}
     
   
    
       

