{% extends '::base.html.twig' %}

{% block body %}
    <div   role="tabpanel" class="tab-pane  active" id="acceuil" >
        
         <div class="panel-body infoSection  col-sm-7">
            
            {% block InfoSection %}{% endblock %}
            </div>
            <section class="videoSection col-sm-5">
            {% block VideoSection %}{% endblock %}
             </section>
         
    </div>
       <div role="tabpanel" class="tab-pane" id="QMemorae">
            {% block QMemorae %}{% endblock %}
           	 
        </div>
        <div role="tabpanel" class="tab-pane" id="document">

           {% block Document %}{% endblock %}
        </div>
        <div role="tabpanel" class="tab-pane" id="video">
             {% block Video %}{% endblock %}
         
        </div>
        <div role="tabpanel" class="tab-pane" id="recherche">
             {% block Recherche %}{% endblock %}
           
        </div>
        <div role="tabpanel" class="tab-pane" id="these">
             {% block These %}{% endblock %}
           
        </div>
        
            {#   <div role="tabpanel" class="tab-pane" id="publication">
             {% block Publication %}{% endblock %}
           
        </div>#}
    
{% endblock %}
     
   
    
       

