{% extends '::base.html.twig' %}

{% block body %}
   <div class="panel-body infoSection  col-sm-7">
    {% block infoSection %}{% endblock %}
    </div>
    <section class="col-sm-4 videoSection">
    {% block videoSection %}{% endblock %}
     </section>
    
{% endblock %}
     
   
    
       

